footer {
  margin-top: $footerMarginTop;
  height: $footerHeight;
  h3 {
    font-size: 28px;
    text-align: center;
  }
  .links {
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    justify-content: center;
    min-height: 100px;
  }
  .link {
    a {
      svg {
        transition: all 0.25s;
        width: 50px;
        fill: rgba($color: $darkBlack, $alpha: 0.75);
      }
      &:hover {
        svg {
          transform: scale(1.25);
        }
        ~ p {
          display: block;
          position: absolute;
          /* left: 50%;*/
          transform: translate(-20%, 0);
        }
      }
      &#twitter {
        &:hover {
          svg {
            fill: #1da1f2;
          }
          ~ p {
            color: #1da1f2;
          }
        }
      }
      &#github {
        &:hover {
          svg {
            fill: #171515;
          }
          ~ p {
            color: #171515;
          }
        }
      }
      &#linkedin {
        &:hover {
          svg {
            fill: #0a66c2;
          }
          ~ p {
            color: #0a66c2;
          }
        }
      }
      &#instagram {
        &:hover {
          svg {
            fill: #e63d5c;
          }
          ~ p {
            color: #e63d5c;
          }
        }
      }
    }
    p {
      margin-top: 5px;
      font-size: 24px;
      display: none;
    }
  }
  .copyright {
    margin-left: 30px;
    margin-bottom: 20px;
  }
}
