footer {
    margin-top: $footerMarginTop;
    height: $footerHeight;
    .links {
      margin-top: 35px;
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 20px;
      justify-content: center;
      min-height: 100px;
    }
    .link {
      a {
        svg {
          transition: all 0.25s;
          width: 50px;
          fill: rgba($color: #000000, $alpha: 0.75);
          &:hover {
            transform: scale(1.25);
          }
        }
        #twitter{
            &:hover{
                fill: #1da1f2;
            }
        }
        #github{
            &:hover{
                fill: #171515;
            }
        }
        #linkedin{
            &:hover{
                fill: #0a66c2;
            }
        }
        &:hover {
          ~ p {
            display: block;
            position: absolute;
            /* left: 50%;*/
            transform: translate(-25%, 0);
          }
        }
      }
      p {
        margin-top: 5px;
        font-size: 24px;
        display: none;
      }
    }
  }
  