@import "./variables";
@import "./nav";
@import "./footer";
@import "./projectTable";
@import "./loading";
@import "./contact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
}
a {
  text-decoration: none;
  color: $darkBlack;
}
main {
  min-height: calc(
    100vh - #{$navHeight} - #{$footerHeight} - #{$footerMarginTop}
  );
  color: $darkBlack;
  .landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: $navHeight;
  }
  .main-name {
    margin-right: 300px;
    white-space: nowrap;
    padding: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    &.animation {
      animation: entrance-name 1s ease-out;
    }
  }
  .main-header {
    text-align: center;
    font-size: 28px;
    margin-left: 300px;
    padding: 26px;
    white-space: nowrap;
    font-size: 32px;
    &.animation {
      animation: entrance-header 1s ease-out;
    }
    /* animation-delay: 0.25s; */
  }
  .main-portrait {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .chevron-container {
    width: 50px;
    bottom: 60px;
    left: 50%;
    position: absolute;
    animation: pulse 2s infinite;
    text-align: center;
    a {
      display: inline-block;
    }
    .chevron {
      width: 100%;
      position: relative;
      left: -50%;
    }
  }
  h1 {
    margin-top: $navHeight * 2;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-container {
    .info-section {
      width: 100vw;
      margin-top: 100px;
      .header {
        position: relative;
        display: inline-block;
        text-align: center;
        width: auto;
        margin-bottom: 25px;
        margin-left: 15%;
        h2 {
          font-size: 78px;
          display: inline-block;
        }
        .underline {
          height: 2px;
          background-color: #808080;
          width: 50%;
          display: inline-block;
          position: relative;
          transition: all 0.25s ease-in-out;
        }
        &:hover {
          .underline {
            width: 100%;
          }
        }
      }
      .pointer {
        transition: all 0.2s;
        path {
          stroke: black;
          stroke-width: 1px;
          fill: none;
        }
      }
      ul {
        margin-left: 30%;
        width: 50%;
        font-size: 26px;
        list-style-type: none;
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes entrance-name {
  0% {
    transform: translateX(150vw);
  }
  80% {
    transform: translateX(-0.75vw);
  }
  100% {
  }
}
@keyframes entrance-header {
  0% {
    direction: rtl;
    transform: translateX(-150vw);
  }
  80% {
    transform: translateX(0.75vw);
  }
  100% {
    direction: ltr;
  }
}

@import "./mobile";
