nav {
  top: 0;
  transition: all 1s;
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 100;
  color: #2f3542;
}
nav ul {
  transition: all 1s;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
nav ul li {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}
nav ul li:first-child {
  margin-right: 25%;
}
nav ul li:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
nav ul li a {
  display: block;
  padding: 8px;
}
nav ul .selected {
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
}
nav #darkModeSlider {
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 60px;
  height: 35px;
  cursor: pointer;
  background-color: #434954;
  border-radius: 34px;
}
nav #darkModeSlider img {
  pointer-events: none;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 5px;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav #darkModeSlider img.sun {
  right: 5px;
  left: initial;
}
nav #darkModeSlider::before {
  z-index: 10;
  background-color: #fff;
  bottom: 5px;
  content: "";
  height: 25px;
  left: 5px;
  position: absolute;
  transition: 0.4s;
  width: 25px;
  border-radius: 50%;
}
nav #darkModeSlider.checked::before {
  transform: translateX(25px);
}
nav .hamburger-container {
  display: none;
}
nav .hamburger-container .hamburger {
  align-self: center;
}
nav .hamburger-container .hamburger div {
  transition: 0.5s all;
  width: 35px;
  height: 5px;
  margin-bottom: 6px;
  background-color: white;
}
nav .hamburger-container .hamburger div:last-of-type {
  margin-bottom: 0;
}
nav .mobile {
  width: 30px;
  float: right;
  align-self: center;
  vertical-align: middle;
  height: 100%;
  filter: invert(100%);
  margin-right: 20px;
  text-align: right;
}

.scrolled {
  background-color: #20252e;
  position: fixed;
}
.scrolled ul li {
  margin-top: 0px;
}
.scrolled ul li a {
  color: white;
}
.scrolled #darkModeSlider {
  top: 7.5px;
}

@keyframes hoverJump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
footer {
  margin-top: 100px;
  height: 200px;
}
footer h3 {
  font-size: 28px;
  text-align: center;
}
footer .links {
  margin-top: 35px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
  min-height: 100px;
}
footer .link a svg {
  transition: all 0.25s;
  width: 50px;
  fill: rgba(47, 53, 66, 0.75);
}
footer .link a:hover svg {
  transform: scale(1.25);
}
footer .link a:hover ~ p {
  display: block;
  position: absolute;
  /* left: 50%;*/
  transform: translate(-20%, 0);
}
footer .link a#twitter:hover svg {
  fill: #1da1f2;
}
footer .link a#twitter:hover ~ p {
  color: #1da1f2;
}
footer .link a#github:hover svg {
  fill: #171515;
}
footer .link a#github:hover ~ p {
  color: #171515;
}
footer .link a#linkedin:hover svg {
  fill: #0a66c2;
}
footer .link a#linkedin:hover ~ p {
  color: #0a66c2;
}
footer .link a#instagram:hover svg {
  fill: #e63d5c;
}
footer .link a#instagram:hover ~ p {
  color: #e63d5c;
}
footer .link p {
  margin-top: 5px;
  font-size: 24px;
  display: none;
}
footer .copyright {
  margin-left: 30px;
  margin-bottom: 20px;
}

.project-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-table .project {
  width: 800px;
  max-width: 100%;
  height: 250px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-color: white;
  transition: all 0.35s ease-in-out;
}
.project-table .project .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  justify-content: space-between;
}
.project-table .project .container .left {
  width: 62.5%;
}
.project-table .project .container .left h2 {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: left;
}
.project-table .project .container .left p {
  font-size: 16px;
  text-align: left;
  padding-bottom: 5px;
}
.project-table .project .container .right {
  width: 37.5%;
}
.project-table .project .container .right .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.project-table .project .container .right img {
  border-radius: 10px;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}
.project-table .project .container .right .read-more-button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  bottom: 35px;
  transition: 0.25s all ease-in-out;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}
.project-table .project .container .right .read-more-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}
.project-table .project .container .right .repository {
  background-color: #2ecc71;
  color: white;
  padding: 5px 10px;
  transition: 0.25s all ease-in-out;
  border: none;
  outline: none;
  font-size: 18px;
  position: absolute;
  left: 170px;
  bottom: 35px;
  display: inline-block;
}
.project-table .project .container .right .repository:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}
.project-table .project .container .right .tags {
  position: absolute;
  bottom: 0;
  left: 0;
}
.project-table .project .read-more-only {
  display: none;
}
.project-table .project.read-more {
  width: 90%;
  height: 500px;
  left: 0;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.2);
}
.project-table .project.read-more .read-more-only {
  display: block;
}

#loading {
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #2f3542;
}
#loading p {
  color: white;
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 48px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
#message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  padding: 25px;
  margin: auto;
  font-size: 16px;
  letter-spacing: 0.25px;
}
#message-form .input {
  display: flex;
  width: 100%;
}
#message-form .input input {
  font-size: inherit;
  letter-spacing: inherit;
  padding: 5px 10px;
  margin-right: 5%;
  outline: none;
  border: 1px solid #e5e5e5;
  width: 95%;
}
#message-form .input input::-moz-placeholder {
  color: #6d717a;
}
#message-form .input input::placeholder {
  color: #6d717a;
}
#message-form .input input:valid {
  color: #27ae60;
}
#message-form .input input:valid + .Icon path {
  stroke: #27ae60;
  d: path("M0 10 L10 20 L20 0");
}
#message-form .input input:invalid {
  color: #d63031;
}
#message-form .input input:invalid + .Icon path {
  stroke: #d63031;
  d: path("M0 0 L10 10 L0 20 L20 0 L10 10 L20 20");
}
#message-form .input input:-moz-placeholder-shown + .Icon {
  opacity: 0;
  transform: translateX(-100%);
}
#message-form .input input:placeholder-shown + .Icon {
  opacity: 0;
  transform: translateX(-100%);
}
#message-form .input input:focus {
  border: 1px solid #808080;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
#message-form .input input:focus ~ .Icon {
  opacity: 1;
  transform: translateX(-25%);
}
#message-form .input .Icon {
  opacity: 1;
  transform: translateX(-50%);
  order: -1;
  transition: all 0.2s;
  width: 5%;
  margin: auto;
  margin-top: 2%;
}
#message-form .input .Icon path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
#message-form input[type=submit] {
  letter-spacing: inherit;
  background-color: #3498db;
  color: white;
  font-size: 22px;
  margin-top: 25px;
  border: none;
  padding: 10px 15px;
  width: auto;
  max-width: 90%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
#message-form input[type=submit]:hover {
  transform: scaleX(1.1) scaleY(1.05);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
#message-form h2 {
  margin-right: 5%;
  text-align: center;
}
#message-form textarea {
  letter-spacing: inherit;
  font-size: inherit;
  padding: 5px 10px;
  margin-right: 5%;
  resize: none;
  width: 90%;
  border: 1px solid #e5e5e5;
  outline: none;
}
#message-form textarea::-moz-placeholder {
  color: #6d717a;
}
#message-form textarea::placeholder {
  color: #6d717a;
}
#message-form textarea:valid {
  color: #27ae60;
}
#message-form textarea:valid + .Icon path {
  stroke: #27ae60;
  d: path("M0 10 L10 20 L20 0");
}
#message-form textarea:invalid {
  color: #d63031;
}
#message-form textarea:invalid + .Icon path {
  stroke: #d63031;
  d: path("M0 0 L10 10 L0 20 L20 0 L10 10 L20 20");
}
#message-form textarea:-moz-placeholder-shown + .Icon {
  opacity: 0;
  transform: translateX(-100%);
}
#message-form textarea:placeholder-shown + .Icon {
  opacity: 0;
  transform: translateX(-100%);
}
#message-form textarea:focus {
  border: 1px solid #808080;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
#message-form textarea:focus + .Icon {
  opacity: 1;
  transform: translateX(-25%);
}
#message-form label {
  letter-spacing: inherit;
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 2.5px;
  margin-left: auto;
  text-align: left;
  width: 95%;
}

.wiki-section {
  background-color: white;
  margin: auto;
  width: 80%;
  max-width: 800px;
  padding: 15px 20px;
  margin-bottom: 20px;
  text-align: center;
}
.wiki-section .header {
  position: relative;
  display: inline-block;
  text-align: center;
  width: auto;
  flex-direction: column;
  margin-bottom: 15px;
}
.wiki-section .header h2 {
  text-align: center;
}
.wiki-section .header .underline {
  height: 2px;
  background-color: #808080;
  width: 100%;
  display: inline-block;
  position: relative;
  transition: all 0.25s ease-in-out;
}
.wiki-section img {
  width: 80%;
  margin: 10px;
}
.wiki-section h3 {
  margin-bottom: 10px;
}
.wiki-section ul {
  text-align: left;
  margin-left: 20px;
}
.wiki-section ul li {
  margin-bottom: 5px;
}
.wiki-section ul li a {
  text-decoration: underline;
}
.wiki-section ul li a:hover {
  color: gray;
}

.blog-container {
  display: flex;
  max-width: 1100px;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-container-article {
  cursor: pointer;
  margin: 10px;
  background-color: #363c48;
  width: 500px;
  height: 220px;
  display: flex;
}
.blog-container-article-left {
  padding: 25px;
  width: 50%;
  white-space: nowrap;
}
.blog-container-article-left .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.blog-container-article-left img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.blog-container-article-right {
  width: 50%;
  padding: 25px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-container-article-right h3 {
  font-size: 20px;
  font-weight: bolder;
}
.blog-container-article-right .date {
  color: #b2afaf;
  font-size: 15px;
}
.blog-container-article-right .perex {
  color: #dfdfdf;
  font-size: 15px;
}

body.darkMode {
  background-color: #2f3542;
  color: hsla(0, 0%, 100%, 0.9);
}
body.darkMode a {
  color: white;
}
body.darkMode nav ul li {
  text-decoration-color: white;
}
body.darkMode nav ul.scrolled-ul {
  background-color: #20252e;
}
body.darkMode main {
  color: hsla(0, 0%, 100%, 0.9);
}
body.darkMode main h1,
body.darkMode main h2,
body.darkMode main h3 {
  color: white;
}
body.darkMode main .project {
  background-color: #363c48;
}
body.darkMode main #message-form {
  background-color: #363c48;
}
body.darkMode main #message-form input[type=text],
body.darkMode main #message-form input[type=email],
body.darkMode main #message-form textarea {
  background-color: #434954;
  border: #2f3542;
}
body.darkMode main .wiki-section {
  background-color: #363c48;
}
body.darkMode footer .link a svg {
  fill: #6d717a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #2f3542;
}

main {
  min-height: calc(100vh - 50px - 200px - 100px);
  color: #2f3542;
}
main .landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
main .main-name {
  margin-right: 300px;
  white-space: nowrap;
  padding: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
}
main .main-name.animation {
  animation: entrance-name 1s ease-out;
}
main .main-header {
  text-align: center;
  margin-left: 300px;
  padding: 26px;
  white-space: nowrap;
  font-size: 32px;
  /* animation-delay: 0.25s; */
}
main .main-header.animation {
  animation: entrance-header 1s ease-out;
}
main .main-portrait {
  width: 400px;
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .chevron-container {
  width: 50px;
  bottom: 60px;
  left: 50%;
  position: absolute;
  animation: pulse 2s infinite;
  text-align: center;
}
main .chevron-container a {
  display: inline-block;
}
main .chevron-container .chevron {
  width: 100%;
  position: relative;
  left: -50%;
}
main h1 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
main .about-container .info-section {
  width: 100vw;
  margin-top: 100px;
}
main .about-container .info-section .header {
  position: relative;
  display: inline-block;
  text-align: center;
  width: auto;
  margin-bottom: 25px;
  margin-left: 15%;
}
main .about-container .info-section .header.panel {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
main .about-container .info-section .header h2 {
  font-size: 78px;
  display: inline-block;
}
main .about-container .info-section .header .underline {
  height: 2px;
  background-color: #808080;
  width: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.25s ease-in-out;
}
main .about-container .info-section .header:hover .underline {
  width: 100%;
}
main .about-container .info-section p {
  margin-left: 30%;
  width: 50%;
  font-size: 26px;
  list-style-type: none;
  margin-bottom: 10px;
}
main .about-container .info-section .panelContainer {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main .about-container .info-section .panelContainer h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}
main .about-container .info-section .panelContainer .panel {
  width: 50%;
}
main .about-container .info-section .panelContainer .panel p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: block;
}
main .about-container .info-section .panelContainer .panel .center {
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes entrance-name {
  0% {
    transform: translateX(150vw);
  }
  80% {
    transform: translateX(-0.75vw);
  }
}
@keyframes entrance-header {
  0% {
    direction: rtl;
    transform: translateX(-150vw);
  }
  80% {
    transform: translateX(0.75vw);
  }
  100% {
    direction: ltr;
  }
}
@media only screen and (max-width: 1100px) {
  nav {
    background-color: #20252e !important;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    opacity: 0;
    height: 0;
    flex-direction: column;
    width: 100%;
    position: absolute;
    width: 0;
    transition: 0s all ease-in-out;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
  }
  nav ul li {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px !important;
    text-align: center;
  }
  nav ul li:hover {
    background-color: initial;
  }
  nav ul li:first-child {
    margin-right: 0;
  }
  nav ul li a {
    color: white;
    width: 30%;
    margin: auto;
    display: none;
  }
  nav #darkModeSlider {
    left: 15px;
    right: initial;
    top: 7.5px;
  }
  nav .hamburger-container {
    display: inline-block;
    margin: auto;
    width: auto;
    margin-right: 20px;
  }
  nav .mobile {
    display: block;
  }
  nav .open {
    display: flex;
    opacity: 1;
    height: calc(100vh - 50px);
    width: 100vw;
    flex-direction: column;
    background-color: rgba(47, 53, 66, 0.9);
    margin-top: 50px;
    padding-bottom: 50px;
    z-index: 1000;
  }
  nav .open a {
    display: block;
  }
  nav .open ~ .hamburger-container .hamburger div:first-of-type {
    transform: translateY(11px) rotate(-45deg);
  }
  nav .open ~ .hamburger-container .hamburger div:nth-of-type(2) {
    opacity: 0;
  }
  nav .open ~ .hamburger-container .hamburger div:last-of-type {
    transform: translateY(-11px) rotate(45deg);
  }
  main .main-name,
  main .main-header {
    margin-right: 0;
    margin-left: 0;
  }
  .about-container .info-section {
    text-align: center;
  }
  .about-container .info-section .header {
    margin-left: auto !important;
    margin-right: auto;
  }
  .about-container .info-section p {
    text-align: left;
    margin-left: auto !important;
    margin-right: auto;
  }
  .project-table .project.read-more {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  main .main-name {
    font-size: 32px;
  }
  main .main-header {
    font-size: 28px;
  }
  main .project-table {
    width: 100%;
  }
  main .project-table .project {
    width: 75%;
    height: 600px;
  }
  main .project-table .project .container {
    flex-direction: column;
  }
  main .project-table .project .container .left {
    width: 100%;
    height: 25%;
  }
  main .project-table .project .container .left h2 {
    text-align: center;
  }
  main .project-table .project .container .left p {
    text-align: center;
  }
  main .project-table .project .container .right {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  main .project-table .project .container .right img {
    max-height: 60%;
    max-width: 75%;
  }
  main .project-table .project .container .right .helper {
    display: none;
  }
  main .project-table .project .container .right .read-more-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    min-width: 200px;
    margin-top: 60px;
  }
  main .project-table .project .container .right .repository {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    left: 0;
    line-height: 40px;
    font-size: 20px;
    min-width: 200px;
    margin-top: 10px;
    text-align: center;
  }
  main .project-table .project .container .right .tags {
    position: relative;
    margin-bottom: 5px;
  }
  main .project-table .project .container .right .tags p {
    text-align: center;
  }
  main .project-table .project.read-more {
    height: 800px;
  }
  main .about-container .info-section p {
    width: 75%;
    text-align: center;
  }
  main .about-container .info-section .header h2 {
    font-size: 52px;
  }
  main .about-container .info-section .panelContainer {
    flex-direction: column;
    width: 100%;
  }
  main .about-container .info-section .panelContainer .panel {
    width: 100%;
  }
  main .about-container .info-section .panelContainer .panel h3 {
    margin-top: 15px;
  }
  main #message-form {
    width: 80%;
  }
  main #message-form input[type=submit] {
    font-size: 1em;
  }
}/*# sourceMappingURL=index.css.map */